// Custom Bootstrap variables must be set or imported *before* bootstrap
@import "bootstrap";

* {
   list-style: none;
    background-color: #121212;
    color: #3282B8;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    text-decoration: none; 

 }

 body {
   background-color: #121212 !important;
 }

 .header {
   width: 70%;
   margin: auto;
   height: 80px;
   display: block;
 }

 .inner_header {
   width: 70%;
   height: 100%;
   display: block;
   
 }

 .logo_container {
   height: 100%;
   display: table;
   float: left;
 }

.logo_container h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  height:100%;
  vertical-align: middle;
  font-size: 16px;
}

.login_container {
  height: 100%;
  display: table;
  float: right;
}

.login {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.comment_head {
  color: #3282B8;
}

// .media {
//   width: 1200px;
//   padding: 0;
// }


.links {
  margin: auto;
  width: 70%
}

.link {
  display: block;

  // flex-direction: column;
  // width: 100%;
  flex-direction: column;
}

.cont {
  margin:auto;
  width:70%;
}