@import "bootstrap";

* {
   list-style: none;
   margin: none;
   padding: none;
    background-color: #121212;
    color: #3282B8;
    font-family: "Montserrat";
 }

//  h1 {
//    color: #3282B8;
//    padding-bottom: 0;
//    margin-bottom: 0;
//    font-weight: 900;
//    font-size:3.5rem;
//  }

 .tomato {
    color: #3282B8;
      padding-bottom: 0;
      margin-bottom: 0;
      font-weight: 900;
      font-size:3.5rem;
 }