// Custom Bootstrap variables must be set or imported *before* bootstrap
@import "bootstrap";

* {
   list-style: none;
    background-color: #121212;
    color: #3282B8;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
   text-decoration: none; 
 }
h2 {
  color: #3282B8 !important; 
}

 body {
   background-color: #121212 !important;
 }

 .header {
   width: 100%;
   height: 80px;
   display: block;
 }

 .inner_header {
   width: 1000px;
   height: 100%;
   display: block;
   margin: 0 auto;
 }

 .logo_container {
   height: 100%;
   display: table;
   float: left;
 }

.logo_container h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  height:100%;
  vertical-align: middle;
  font-size: 16px;
}

.login_container {
  height: 100%;
  display: table;
  float: right;
}

.login {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.comment_head {
  color: #3282B8;
}
//  #title {
//   color:#3282B8;
// }

// //  .container-fluid {
// //   padding: 3% 15%;
// // }

// //  Navbar 

//  .navbar {
//   padding: 0 0 4.5rem;
// }



// #test {
//   .navbar-brand {
//     font-family: "ubuntu";
//     font-size: 2.5rem;
//     font-weight: bold;
//     padding: 3% 8%;
//   }
// }

// .nav-item {
//   padding: 0 18px;
//   color: #3282B8;
// }

// .nav-link {
//   font-size: 1.6rem;
//   font-family: "Montserrat-Light";
//   color: #3282B8;
// }

// // Body 

// //  h1 {
// //    color: #3282B8;
// //    padding-bottom: 0;
// //    margin-bottom: 0;
// //    font-weight: 900;
// //    font-size:3.5rem;
// //  }

//  .tomato {
//     color: #3282B8;
//       padding-bottom: 100px;
//       margin-bottom: 0;
//       font-weight: 900;
//       font-size:3.5rem;
//  }

.media {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.media {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

 .links {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 40px;
  margin-left: 5px;
  line-height: 1.5;

 }